name: Build and Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  FLUTTER_VERSION: "3.27.3"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "rust -> target"

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: 'stable'

      - name: lint lib before codegen
        run: |
          set -eux -o pipefail
          pushd rust
          cargo clippy -- -D warnings
          cargo fmt -- --check

      - name: Dart pub get
        run: dart pub get

      - name: build lib
        run: |
          set -eux -o pipefail
          pushd rust
          cargo build --release


      - name: test
        run: |
          find examples/ -print -exec dart run {} \;
          flutter analyze
